.layout {
  @apply flex h-screen bg-zinc-950 text-zinc-100;
}

.sidebar {
  @apply w-80 flex-shrink-0 border-r border-zinc-800 bg-zinc-900 overflow-y-auto;
}

.main {
  @apply flex-1 relative overflow-hidden;
}
